<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
     <p> This Github repo: <%= @repo  %> has <%= @prs %> total pull requests and issues </p>
     <h3>Commits: </h3>
     <p><%= @commits["domo2192"].author %> - <%= @commits["domo2192"].commit_count %></p> 
     <p><%= @commits["b-enji-cmd"].author %> - <%= @commits["b-enji-cmd"].commit_count %></p> 
     <p><%= @commits["tsnieuwen"].author %> - <%= @commits["tsnieuwen"].commit_count %></p> 
     <p><%= @commits["Pragmaticpraxis37"].author %> - <%= @commits["Pragmaticpraxis37"].commit_count %></p> 
    <% @json_users.each do |name|%>
    <h2> Project Contributor: <%=name %></h2>
      <%end %>

    <% if params["controller"].include? "admin/" %>
      <h1 id="admin-header">Admin Dashboard</h1>
    <% end %>

    <% flash.each do |type, message| %>
      <p> <%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
